# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake and Build directories
/build/
/build*/
/out/
/.cache/
compile_commands.json

# IDE specific
/.vscode/
/.idea/
.clang-tidy

.venv
build_cmds.txt
*.vec
